:root {
  scroll-behavior: smooth;
}

.custom-input {
  border-width: 2px !important;
  border-style: solid !important;
  border-color: var(--chakra-colors-secondary-600) !important;
  background-color: var(--chakra-colors-secondary-100) !important;
}

.marquee-container {
  /* outline: 1px solid transparent; */
  backface-visibility: hidden;
  cursor: pointer;
  width: 100%;
  overflow: hidden; /* Hide scrollbars */
}

.btn {
    float: left;
    text-align: center;
    line-height: 55px;
    border: solid #0086FF 1px;
    font-size: 18px;
    margin-top: 10px;
    background: #fff;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
    
}
.btn-outline-primary:hover{
 border: solid #0086FF 1px;
}